@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-number {
  font-size: 50px;
  font-weight: bold;
}

#card {
  height: 500px;
  width: 370px;
  border-radius: 15px;
  background: white;
  text-align: center;
  margin-left: 440px;
  margin-top: 25px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 200px;
  margin: 50px;
}

.cardSymbol {
  font-size: 55px;
  text-align: left;
  margin-left: 15px;
}

#card-symbol-bottom {
  margin-right: 15px;
  transform: rotate(0.5turn);
}
.heartSymbol {
  color: red;
}

.spadeSymbol {
  color: black;
}

.clubSymbol {
  color: black;
}

.diamondSymbol {
  color: red;
}
